/* Light Mode */
.background-white {
    -fx-background-color: #ffffff; /* White background */
}

.label-white {
    -fx-text-fill: #ffffff; /* Black text */
}

/* Dark Mode */
.background-black {
    -fx-background-color: #171a1e; /* Dark background */

}

.label-black {
    -fx-text-fill: #171a1e; /* White text */
}


#cs {
    -fx-background-color: red; /* Gold background */
    -fx-border-radius: 10px; /* Circular border */
    -fx-border-width: 3px; /* Border width */
    -fx-cursor: hand; /* Set cursor to pointer */
    -fx-padding: 21 3 2 4 ;

    /* Add any additional styles you want to apply */
}


#welcome {
   -fx-padding: 12 24 32 12;
      -fx-border-radius: 10px; /* Circular border */
}


#log:hover {
-fx-border-radius: 10px; /* Circular border */
     -fx-cursor:hand;
}

#showPasswordCheckbox:hover{
  -fx-cursor:hand;
}

#togle:hover{
  -fx-cursor:hand;
}

#username {
 -fx-border-radius: 90deg;

}

.gold {
-fx-text-fill: black;
}


.red {
-fx-text-fill: gold;
}

.title{
    -fx-background-color: red;
}


/* Style for GridPane */
.grid-pane {
    -fx-background-color: #f0f0f0; /* Set background color */
}

/* Style for text fields */
.text-field {
    -fx-background-radius: 8px; /* Set border radius */
    -fx-border-radius: 8px;
    -fx-alignment: center; /* Center text */
}

/* Style for buttons */
.button {
    -fx-background-color: #4c60af; /* Green background */
    -fx-text-fill: white; /* White text color */
    -fx-font-size: 14px; /* Font size */
    -fx-padding: 8px 16px; /* Padding */
    -fx-background-radius: 8px; /* Set border radius */
    -fx-border-radius: 8px;

}
/* Style for hovered buttons */
.button:hover {
    -fx-cursor: hand;
    -fx-transition: 0.5s;
    -fx-text-fill: #f1efef;
    -fx-font-family: "Times New Roman";
    -fx-background-color: black;
}



/* Style for ListView */
.list-view {
    -fx-background-color: #f0f0f0; /* Set background color */
}

/* Style for TableView */
.table-view {
    -fx-background-color: #ffffff; /* White background */
    -fx-border-color: #ccc; /* Border color */
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 8px; /* Set border radius */
}
